# Configuración de la base de datos
DB_HOST=localhost
DB_NAME=todo_list
DB_USER=root
DB_PASS=

# Entorno de la aplicación (production, development, testing)
APP_ENV=development
APP_DEBUG=true

# Configuración de la aplicación
APP_URL=http://localhost/todo-list
APP_TIMEZONE=America/Mexico_City
